
/* RESET CSS BEGIN */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*RESET CSS END*/



/* override stgyle */
strong{
	font-weight: bolder;
	 font-size: 1.6rem;
}

/* end */

h1{
  font-size: 23px;
}


.--top-0 {
  top: 0 !important;
}

.--right-0 {
  right: 0 !important;
}

.--bottom-0 {
  bottom: 0 !important;
}

.--left-0 {
  left: 0 !important;
}

.--pos-x-0 {
  right: 0 !important;
  left: 0 !important;
}

.--pos-y-0{
  top: 0 !important;
  bottom: 0 !important;
}

.--pos-0{
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
}



body {
  direction: ltr;
  position: relative;
  display: block;
}

.header {
  background-image: url('../img/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fafafa;
}

.header-nav{
  background-color: #1e2d3b;
  display: inline-flex;
  flex-direction: row;
  height: 100px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 200;
 
}

.main-nav-container{
  display: flex;
  justify-content: flex-end;
}

.main-nav{
  height: inherit;
}

.nav {
  display: inline-flex;
  height: inherit;
  align-items: flex-end;
  margin-right: 20px;
  padding: 15px 0;
}

.nav li {
  display: inline-block;
}

.nav li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  transition: color 0.4s ease 0s;
  width: 100%;
}

.logo-container {
  display: inline-flex;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  padding-left:10px;
}

.logo{
  color: white;
}

.logo-container > div p{
  margin-top: 8px;
  font-size: 0.7rem;
}

.menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 32px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 1500;
  right: 0;
  display: none;
  
}

.menu-trigger span,
.menu-trigger span:before,
.menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: white;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.menu-trigger span:before,
.menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: white;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 100%;
}

.menu-trigger span:before,
.menu-trigger span:after {
  content: "";
}

.menu-trigger span {
  top: 16px;
}

.menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.menu-trigger.active span,
.menu-trigger.active span:before,
.menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: white;
}

.menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: white;
}

.sc-white {
  background-color: #273b4e;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 500;
  height: 100vh;
  overflow: hidden;
  transition: 150ms;
}

.-overflow- {
  overflow: hidden;
}

.menu-list {
  margin-top: 100px;
}

.menu-list > li > a {
  visibility: unset !important;
  font-size: 24px;
}

.nav li a.active {
  color: #edcd1f !important;
}

/* #app-services{

}
#app-services > div > h1 > strong {
		border-bottom:red 2px solid;

} */
.service-card {
	display: block;

}

.image-service{
	width:200px;
	height: 200px;
}

.about-p{
	margin-top: 25px;
	margin-bottom: 25px;
}
.t-m{
		margin-top: 25px;
		margin-bottom: 25px;
}
.t-shift{
	margin-top: 25px;

}


.shift-low{
	margin-bottom:10px;
	font-size: 1.3rem;
}
 .t-down{
	 margin-bottom: 15px;
 }
 .image-project{
	 width:100%;
	 height: auto;
	 background-color:transparent;
	 display: flex;



 }
 #app-contact{
	 margin-bottom: 50px;
 }

.service-s{
 border-bottom: #edcd1f 10px solid;
}
.c-info{
	background-color: #1e2d3b;
	color: white;
	 border-radius: 8px;
}

.bot-style{
	border-radius: 8px;
	background-color: #1e2d3b;
  color: white ;
  font-size: 16px

}

/* responsive */
@media only screen and (max-width: 768px){
  .nav {
    margin-right: 0px !important;
    margin-left: 20px;
  }
  .menu-trigger{
    display: block !important;
  }
  nav.main-nav > ul > li {
    display: flex;
  }
  .main-nav > ul > li > a {
    visibility: hidden;
  }
  .nav{
    display: none;
  }

  .logo-container{
    width: 70% !important;
    /* display: none; */
  }
	/* .service-card{
			margin: auto 10px;
  } */

   
  

  .image-project{
    width:50% !important ;
     display: block;
    margin: 0 auto;
    
  }

  
}

@media only screen and (max-width: 576px){
  .menu-trigger {
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 768px){
  .nav{
    display: flex !important;
  }
  .logo-container{
    width: 25% !important;
    
  }
}

@media only screen and (min-width: 1200px){

}
/* @media only screen and (max-width: 768px){

} */
